.fa,
.fas,
.far,
.fab {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -2px;
}

.title-fa {
    &.fa,
    &.fas,
    &.far,
    &.fab {
        font-size: 72px;
        margin: 10px;
        text-align: center;
        vertical-align: middle;
    }
}

.clear-filter[filter-color="green"] {
    @include linear-gradient(rgba($black-color, 0.2), #7eb162);
}
.clear-filter[filter-color="gray"] {
    background-color: rgba($black-color, 0.25);
}
.page-header {
    &.page-header-tiny {
        min-height: 20vh;
        max-height: 200px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 55px;
    right: 0;
    height: 100%;
    width: calc(80% - 23px);
}

.img-button-container .overlay {
    background-color: rgba(0, 140, 186, 0.3);
}

.img-button-container .overlay:hover {
    background-color: rgba(165, 62, 62, 0.9);
    transition: 0.5s ease;
    cursor: pointer;
}

.img-overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1 !important;
}

.table-striped.clickable tbody {
    tr:hover {
        background: rgba(138, 191, 218, 0.9);
        cursor: pointer;
    }
}

ul.sitemap {
    margin-top: 6vh;

    li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: #fff;
        // background: linear-gradient(#45934c, #000000 80%);
    }
}

.navbar-toggler {
    border: none;
}

.dropdown-toggle:after {
    display: none;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #666;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #888;
}

.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2000;
}

h2.anchor::before {
    display: block;
    content: " ";
    margin-top: -188px;
    height: 188px;
    visibility: hidden;
    pointer-events: none;
}

.float-above {
    position: fixed;
    top: 198px;
    left: 50px;
    width: 200px;
    z-index: 1002;
    height: 70vh;
    overflow-y: scroll;
}

.sharing {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.1em;
    p {
        font-weight: bolder;
    }
}

a {
    &.dl-link {
        color: gray;
    }
    &.dl-link:hover {
        color: lightslategrey;
    }
}

.verse {
    p {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        font-size: 24px;
    }

    b,
    strong {
        margin-right: 1rem !important;
    }
}

.modal-header {
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
}

.ql-disabled {
    background: lightgray;
}

i.reaction {
    font-size: 24px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px black;
    padding: 0.7em 0.6em;

    &.reacted {
        color: white;
        background: black;
    }
}

.app-bell-alert > a::after {
    display: none !important;
}

.dot {
    height: 10px;
    width: 10px;
    // background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dropdown-item.active,
.dropdown-item:active {
    text-decoration: none;
    background: unset;
}

a.comment-user-link {
    font-size: 20px;
    &.admin {
        font-weight: bold;
        color: gold;
    }
    &.worker {
        font-weight: bold;
        color: dodgerblue;
    }
}

@media screen and (max-width: 991px) {
    div[aria-labelledby="app-bell"] > .dropdown-item:focus,
    div[aria-labelledby="app-bell"] > .dropdown-item:hover,
    div[aria-labelledby="app-bell"] > div > .dropdown-item:focus,
    div[aria-labelledby="app-bell"] > div > .dropdown-item:hover {
        color: #000 !important;
        border-radius: 0.1875rem;
    }

    .app-bell-alert > div.dropdown-menu,
    div[aria-labelledby="app-bell"] {
        background-color: white !important;
        top: 45px !important;
        margin-left: -182px !important;
        height: unset !important;
        max-height: 450px !important;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2) !important;
    }
}

i.user-badge {
    font-size: 12px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    padding: 0.4em 0.3em;

    &.admin-badge {
        background: gold;
    }

    &.worker-badge {
        background: dodgerblue;
    }
}

.breadcrumb {
    background-color: transparent;
}

button.btn-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 16px;
    /*input has OS specific font-family*/
    // color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.video-bg {
    position: absolute;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .video-bg {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-bg {
        width: auto;
        height: 100%;
    }
}

.blog-text {

    margin-right: 20px;
    color: gray;
    cursor: pointer;

    @media screen and (min-width: 576px) {
        .header {
            color: black;
            font-size: 22px;
        }
        .quote {
            font-size: 18px;
            margin-top: 20px;
        }
        .footer {
            padding: 0;
        }
        .original-poster {
            color: black;
            font-weight: 16;
        }
    }

    @media screen and (max-width: 576px) {
        .header {
            color: black;
            font-size: 16px;
        }
        .quote {
            font-size: 13px;
        }
        .foot {
            padding: 0;
            font-size: 12px;
        }
        .original-poster {
            color: black;
            font-weight: 13;
        }
    }

}

.blog-img {
    cursor: pointer;
    max-width: 250px;

    @media screen and (min-width: 576px) {
        img{
            width: 250px;
            height: 150px; 
            object-fit: cover;
            border-radius: 0.125rem;
        }
    }

    @media screen and (max-width: 576px) {
        img{
            width: 200px;
            height: 100px; 
            object-fit: cover;
            border-radius: 0.125rem;
        }
    }
}